body {
    text-align: center;
    background-color: #e1baff;
    background-repeat: no-repeat;
  }
  
#FavHobby {
    padding: 20px;
    text-align: center;
}
  
hr {
    width: 200px;
    background-color: black;
    height: 5px;
}
  
img {
    border-width: 2px;
    border-style: solid;
    border-radius: 70px;
    padding: 5px;
}
  
h1 {
    font-family: 'Bebas Neue', cursive;
  }
  
h2 {
    font-family: 'Klee One', cursive;
}
  
p {
    font-family: 'Neucha', cursive;
}

.menu {
    list-style: none;
    cursor: pointer;


}

.links {
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 20px;
    padding: 5px;

}

.links:hover {
    background-color: white;

}

#anchor {
    font-size: 25px;
    margin-top: 30px;

}

.line{
    height: 6px;
    background-color: black;
    width:70px;
    margin: 8px auto;
}

.button {
    background-color: #a8e3ff;
    border: solid;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


img:hover {
    transform: scale(0.9);
    
}